* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.cover-section {
    margin-top: 50px;
}

.cover-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cover-image:hover {
    transform: scale(1.05);
}

.release-title {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
}

.player-section {
    margin-top: 50px;
}

audio {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

/*---------------------------*/
/* Про исчезновение страницы */
/*---------------------------*/

/* Стили для элементов, которые будут затухать */
.release-item {
    opacity: 0;
    transform: translateY(20px); /* Начальное смещение для плавного появления */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Класс, который добавляется при появлении элемента в зоне видимости */
.release-item.visible {
    opacity: 1;
    transform: translateY(0);
}
